/* -- Uhh.. --*/

pre { padding: 0 25px 10px; width: 100%;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    }
.short { max-width: 75%; }

.customize-control-site_icon .thumbnail-image { max-width: 100px; max-height: 100px; }

select + .floatimg { display:none; position:absolute; top: 34%; right: 10%;  }

select:hover + .floatimg { display: block; }

.widget-inside .wp-color-result { margin: 10px 6px -6px 6px; }

.mce-toolbar .mce-btn-group .mce-btn.mce-listbox span { padding-right: 16px; }

textarea.title { resize: none; white-space: nowrap; overflow: hidden; }

#features img { max-width: 100%; height: auto; display: block; }
/*#features .hide { display: none; }*/

/* ACF */
#acf-map_address_2 label, #acf-map_address_3 label {
	display: none;
}
#acf-map_phone_field, #acf-map_email2_field, #acf-map_email3_field {
    float: left;
    width: 49%;
}

#acf-map_other_phone, #acf-map_email2, #acf-map_email3 {
    float: right;
    width: 49%;
}
#acf-map_other_phone label, #acf-map_email2 label, #acf-map_email3 label {
	width: 0; height: 0; color: #f1f1f1;
    text-shadow: none;
}
#acf-map_email, #acf-google_api, #acf-map_email3_field {
	clear: both;
}