/* Testimonials */

.testimonials {
	.testimonial {
		text-align: right;
		&:before {
			content: '- ';
		}
		span {
			&:after {
				content: ', ';
			}
			&:last-child:after {
				content: '';
			}
		}
	}
}